{% extends 'appdashboard/base.html' %}
{% load tz %}

{% block title %}Devolver Empréstimo{% endblock %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-md-6'>
        <div class='card'>
            <div class='card-header bg-info text-white'>
                <h4><i class='fas fa-undo'></i> Devolver Empréstimo</h4>
            </div>
            <div class='card-body'>
                <h5>Informações do Empréstimo:</h5>
                <ul class='list-group mb-3'>
                    <li class='list-group-item'><strong>Livro:</strong> {{ emprestimo.livro.titulo }}</li>
                    <li class='list-group-item'><strong>Leitor:</strong> {{ emprestimo.leitor.usuario.get_full_name }}</li>
                    <li class='list-group-item'><strong>Data de Empréstimo:</strong> {{ emprestimo.data_emprestimo|date:'d/m/Y' }}</li>
                    <li class='list-group-item'><strong>Data Prevista:</strong> {{ emprestimo.data_devolucao_prevista|date:'d/m/Y' }}</li>
                    <li class='list-group-item'>
                        <strong>Status:</strong> 
                        {% now 'Y-m-d' as today_str %}
                        {% if emprestimo.data_devolucao_prevista|date:'Y-m-d' < today_str %}
                            <span class='badge badge-danger'>Em Atraso</span>
                        {% else %}
                            <span class='badge badge-success'>No Prazo</span>
                        {% endif %}
                    </li>
                    {% if multa_prevista > 0 %}
                    <li class='list-group-item list-group-item-danger'>
                        <strong>Multa a ser cobrada:</strong> 
                        <span class='h5'>R$ {{ multa_prevista|floatformat:2 }}</span>
                    </li>
                    {% endif %}
                </ul>
                
                <form method='post'>
                    {% csrf_token %}
                    <button type='submit' class='btn btn-info'>
                        <i class='fas fa-check'></i> Confirmar Devolução
                    </button>
                    <a href='{% url 'emprestimo_list' %}' class='btn btn-secondary'>
                        <i class='fas fa-times'></i> Cancelar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
