<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'app_dashboard:home' %}">
            <i class="fas fa-book me-2"></i>
            Biblioteca Comunitária
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_dashboard:home' %}">
                            <i class="fas fa-home me-1"></i>Home
                        </a>
                    </li>
                    
                    {% if user.is_staff %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-cog me-1"></i>Administração
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">
                                    <i class="fas fa-users me-1"></i>Leitores
                                </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <i class="fas fa-user-tie me-1"></i>Funcionários
                                </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <i class="fas fa-book me-1"></i>Livros
                                </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <i class="fas fa-tags me-1"></i>Categorias
                                </a></li>
                                <li><a class="dropdown-item" href="#">
                                    <i class="fas fa-handshake me-1"></i>Empréstimos
                                </a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user me-1"></i>{{ user.first_name|default:user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">
                                <i class="fas fa-user me-1"></i>Meu Perfil
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'app_user:logout' %}">
                                <i class="fas fa-sign-out-alt me-1"></i>Sair
                            </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app_user:login' %}">
                            <i class="fas fa-sign-in-alt me-1"></i>Entrar
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>