<!-- Navbar -->
<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search bx-sm"></i>
        <input
          type="text"
          class="form-control border-0 shadow-none ps-1 ps-sm-2"
          placeholder="Buscar..."
          aria-label="Buscar..." />
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a
          class="nav-link dropdown-toggle hide-arrow p-0"
          href="javascript:void(0);"
          data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <div class="avatar-initials w-px-40 h-px-40">
              {{ user.first_name.0|default:user.username.0 }}{{ user.last_name.0|default:user.username.1|default:"" }}
            </div>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <div class="dropdown-item">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <div class="avatar-initials w-px-40 h-px-40">
                      {{ user.first_name.0|default:user.username.0 }}{{ user.last_name.0|default:user.username.1|default:"" }}
                    </div>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-0">{{ user.first_name|default:user.username }}</h6>
                  <small class="text-muted">{% if user_is_funcionario %}Funcionário{% elif user_is_leitor %}Leitor{% else %}Usuário{% endif %}</small>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'app_user:logout' %}">
              <i class="bx bx-power-off bx-md me-3"></i><span>Sair</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
<!-- / Navbar -->